<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ meta_description }}">
    <link rel="stylesheet" href="./css/index.min.css">
  </head>

  <body {% if bodyClass %}class="{{ bodyClass }}" {% endif %}>
    {% include "templates/_base/_header.html" %}

    {% block content %}{% endblock %}

    {% include "templates/_base/_footer.html" %}

    <script src="./js/index.min.js"></script>
  </body>
</html>